<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

<footer id="footer" class="footer-dark fixed-bottom mt-auto bg-dark text-info m-0">
  <div class="row container-fluid">
      <div class="col-md text-center">
          <p class="h5 text-muted">Dane kontaktowe:</p>
          <p> Numer telefonu: <span class="h6">123-456-789</span></p>
          <p> Email: <span class="h6">test@mail.com</span></p> 
      </div>

      <div class="col-md d-flex flex-wrap align-items-center justify-content-center">
          <img src="/logo.png" width="100" height="100" alt="">
      </div>

      <div class="col-md text-center align-middle">
          <p class="h5 text-muted">Konto bankowe:</p>
          <p> Numer: <span class="h6">PL 27 1140 2004 0000 3002 0135 5387 </span></p>
          <p> Placówka: <span class="h6">WWE BP Wrocław, ul. Zmyślona 15</span></p> 
      </div>
  </div>
</footer>