* {
  margin: 0;
  padding: 0;
}

body {
  padding-bottom: 120px;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 114px;
}

.navbar .navbar-brand {
  padding-top: 0px;
}

.card-img-top {
  width: 100%;
  height: 18vw;
  object-fit: contain;
}